/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-serif-v12-latin-regular.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-serif-v12-latin-700.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* source-sans-pro-200 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/source-sans-pro-v14-latin-200.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/source-sans-pro-v14-latin-regular.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/source-sans-pro-v14-latin-600.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/source-sans-pro-v14-latin-900.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.bold {
  all: unset;
  color: #FFF !important;
}

.bold:hover {
  font-weight: 600;
  cursor: pointer;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.icon:hover {
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  pointer-events: none;
}

.popup {
  z-index: 10;
  background-color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  margin: auto;
  padding: 0 50px 50px 50px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup .flex-column button {
  all: unset;
  cursor: pointer;
  padding: 5px 30px;
  margin: 0 20px;
  border-radius: 10px;
  color: #f2f2f2;
  background-color: #2E557D;
  font-size: 30px;
}

.popup .flex-column button:hover {
  background-color: #4076AD;
}

.popup .flex-column .delete {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D8FFFB;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5B6A7C;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 25vw;
  min-width: 450px;
  background-color: #2E557D;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .container {
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar .container .container-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar .container .container-child .sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .container .container-child .sidebar-header .title {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 75px;
  margin: 0;
  line-height: 4rem;
}

.sidebar .container .container-child .sidebar-body {
  overflow-y: scroll;
  height: 75vh;
}

.sidebar .container .container-child .sidebar-body .list {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .container .container-child .sidebar-body .list p {
  margin: 7.5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 2500px) {
  .sidebar .container .container-child .sidebar-body .list p {
    max-width: 20ch;
  }
}

@media screen and (max-width: 2500px) {
  .sidebar .container .container-child .sidebar-body .list p {
    max-width: 13ch;
  }
}

.sidebar .container .sidebar-footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 20px;
  max-width: 40ch;
}

.body {
  background-color: #f2f2f2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .body-default {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .body-posting {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .body-finished {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help {
  z-index: 1;
  position: absolute;
  bottom: 1.5vh;
  right: 3vw;
}

.help:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 1px #333333);
          filter: drop-shadow(1px 1px 1px #333333);
}

.default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default p {
  margin: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
}

.posting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/bg-posting.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  height: 100vh;
  width: 75vw;
}

.posting .box {
  background-color: #FFF;
  padding: 20px 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(5px 10px 10px #1a1a1a);
          filter: drop-shadow(5px 10px 10px #1a1a1a);
}

.posting .box hr {
  all: unset;
  height: 1px;
  width: 100%;
  background-color: #333333;
}

.posting .box .title {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 60px;
  margin: 20px 0;
}

.posting .box .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posting .box .flex-row p {
  margin: 0;
}

.posting .box button {
  all: unset;
  cursor: pointer;
  padding: 10px 25px;
  margin: 0 20px;
  border-radius: 10px;
  color: #f2f2f2;
  background-color: #2E557D;
}

.posting .box button:hover {
  background-color: #4076AD;
}

.posting .box .posting-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posting .box .posting-body input[type=text] {
  margin: 50px 20px;
  font-size: 40px;
  padding: 5px 10px;
}

#delete {
  width: 500px;
  height: 250px;
}

#delete .flex-column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#delete p {
  text-align: center;
  margin: 0 0 10px 0;
}

#add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 375px;
}

#add .flex-column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#add .flex-column .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#add .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  margin: 0;
}

#add .subtitle {
  line-height: 1.3;
  font-size: 30px;
  margin: 0;
}

#add input[type=text] {
  margin: 20px;
  font-size: 40px;
  padding: 5px 10px;
}

#add input[type=file] {
  margin: 20px;
  font-size: 30px;
  padding: 5px 10px;
}

#add textarea {
  overflow-y: scroll;
  height: 400px;
  margin: 20px 0;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
}

#add .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.finished {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finished textarea {
  overflow-y: scroll;
  height: 70vh;
  width: 50vw;
  margin: 20px 0;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
}

.finished .title {
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 60px;
  margin: 25px 0;
}

.finished button {
  all: unset;
  cursor: pointer;
  padding: 10px 40px;
  margin: 0 20px;
  border-radius: 10px;
  color: #f2f2f2;
  background-color: #2E557D;
}

.finished button:hover {
  background-color: #4076AD;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.edit textarea {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow-y: scroll;
  height: 65vh;
  width: 50vw;
  margin: 20px 0;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
}

.edit .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 60px;
  margin: 25px 0;
}

.edit button {
  all: unset;
  cursor: pointer;
  padding: 10px 40px;
  margin: 0 0;
  border-radius: 10px;
  color: #f2f2f2;
  background-color: #2E557D;
}

.edit button:hover {
  background-color: #4076AD;
}

.edit .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit .flex-row p {
  margin: 0 20px 0 0;
}

.edit .flex-row input[type=text] {
  padding: 10px 20px;
}
/*# sourceMappingURL=style.css.map */